#sugestion {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#form-sugestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#escolha {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#input-sugestion {
  width: 80%;
  height: 150px;
  border-radius: 5px;
  padding: 10px;
  background-color: #f5f4f4;
}

#send-sugestion {
  height: 50px;
  width: 100px;
}
